:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --header-background: #f0c5c500;
    --header-text: #000000;
    --code-background: #f4f4f4;
    --code-text: #333333;
    --code-border: #007bff;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: var(--header-background);
    color: var(--header-text);
    border-bottom: 2px solid #ccc;
}

header h1 {
    margin: 0;
}

#theme-toggle {
    position: fixed;
    top: 50%;
    right: 10px;
   
    cursor: pointer;
    z-index: 1000;
    width: 50px; /* Adjust the size of the icon */
    height: 50px;
    border: none; /* Removes any default borders */
    background: none; /* Removes background styling */
    padding: 0; /* Removes padding to make it just the image */
    display: flex; /* Ensure the image inside is centered */
    align-items: center;
    justify-content: center;
}

#theme-toggle img {
    width: 100%; /* Make the image fill the button */
    height: 100%; /* Make the image fill the button */
    object-fit: contain; /* Ensure the image scales properly */
}

main {
    padding: 20px;
    line-height: 1.6;
}

article h2 {
    margin-top: 20px;
    color: #007bff;
}

pre {
    background: var(--code-background);
    color: var(--code-text);
    padding: 10px;
    border-left: 4px solid var(--code-border);
    overflow-x: auto;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: var(--header-background);
    color: var(--header-text);
    border-top: 2px solid #ccc;
}

footer .social-links {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

footer .social-links img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    cursor: pointer;
}

footer .social-links img:hover {
    opacity: 0.8;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}

/* Dark Theme Styles */
.dark-theme {
    --background-color: #121212;
    --text-color: #ffffff;
    --header-background: #1e1e1e;
    --header-text: #ffa500;
    --code-background: #1e1e1e;
    --code-text: #dcdcdc;
    --code-border: #ffa500;
}

.dark-theme .social-links img {
    filter: invert(1);
    
}

/* Media Query for Mobile Phones */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }
    
    header {
        padding: 15px;
    }
    
    h1 {
        font-size: 1.5rem;
    }

    main {
        padding: 15px;
    }

    article h2 {
        font-size: 1.2rem;
    }

    pre {
        font-size: 0.9rem;
        padding: 8px;
    }

    #theme-toggle {
        width: 40px;
        height: 40px;
        top: 80%;
    }
}
